@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/theme.css";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .font-serif {
    font-family: 'Source Sans 3', 'Source Sans 3 Fallback', sans-serif;
  }
  
  .font-sans {
    font-family: 'Source Sans 3', 'Source Sans 3 Fallback', sans-serif;
  }
}
